# See http://help.github.com/ignore-files/ for more about ignoring files.

# archives
/archive

# Var files
/api/etc
/fe/src/etc
*/api/etc
*/fe/src/etc

# Log files
*.log
/api/*.log
/fe/*.log
*/api/*.log
*/fe/*.log

# compiled output
*/dist
*/tmp
*/desktop

# dependencies
/node_modules
*/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
